.commnet-list-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.commnet-list-item-top{
    display: flex;
    align-items: center;
    gap: 8px;
}
.commnet-list-item-profile-box{
    width: 32px;
    height: 32px;
}
.commnet-list-item-profile-image{
    border-radius: 50% 50%;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.commnet-list-item-nickname{
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}
.commnet-list-item-divider{
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
.commnet-list-item-time{
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
.commnet-list-item-content{
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}